streamlit>=1.35.0
extra-streamlit-components>=0.1.71
pandas>=2.0.0
plotly>=5.20.0
openpyxl>=3.1.2
rapidfuzz>=3.6.0
requests>=2.31.0
xlrd>=2.0.1
psycopg2-binary>=2.9.9
python-dotenv>=1.0.1
matplotlib>=3.8.0
